<table style="width:80%">
  <tr>
    <td><h2>Employee Id</h2></td>
    <td><h2>First Name</h2></td>		
    <td><h2>Last Name</h2></td>
    <td><h2>Email</h2></td>
  </tr>
  <tr>
    <td>{{model.title}}</td>
    <td>{{model.body}}</td>		
    <td>{{model.author}}</td>
  </tr>
 

</table>






{{#link-to 'adding' class="navbar-brand"}} <button>Add New Employee </button> {{/link-to}}  
{{outlet}}
