<h2>Employee Add </h2>
<input type="fname"  name="fname" placeholder="First Name"  />
<input type="lname"  name="lname" placeholder="Last Name"  /> <br>
<input type="email"  name="email" placeholder="Email"  />
<input type="tel"  name="tel" placeholder="Telephone"  /><br>
<input type="dep"  name="dep" placeholder="Department"  /><br><br>
<button type="submit"> Save</button> or Cancel


{{outlet}}
