<h2>Employee Edit </h2>
<input type="fname"  name="fname" placeholder="First Name"  />
<input type="lname"  name="lname" placeholder="Last Name"  />
<input type="email"  name="email" placeholder="Email"  />
<input type="tel"  name="tel" placeholder="Telephone"  />
<input type="dep"  name="dep" placeholder="Department"  />
<button type="submit"> Save</button> or Cancel
{{outlet}}
