<h1>Settings</h1>
<input type="checkbox"> Value1 <br>
<input type="checkbox"> Value2 <br>
<input type="checkbox"> Value3 <br>
<input type="checkbox"> Value4 <br>
<input type="checkbox"> Value5 <br><br>
<button value="Save">Save</button>   or <div> {{#link-to 'settings' class="navbar-brand"}} Cancel {{/link-to}} </div>
{{outlet}}

